/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.eslintrc.json
.vscode/
public/css/fonts
public/css/app.css
public/js/app.js
package-lock.json
composer.lock
