// Colors
$blue: #0de1ec;
$indigo: #200c9c;
$purple: #4b0082;
$pink: #dd0890;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #f0f0f0;
$gray-dark: #222222;
$light: #f0f0f0;
$dark: #222222;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800|Titillium+Web:300,400,600&display=swap');

$font-xbold: 'Open Sans', sans-serif;
$font-medium: 'Titillium Web', sans-serif;
$font-regular: 'Titillium Web', sans-serif;
$font-light: 'Titillium Web', sans-serif;

// Body
$body-bg: lighten($light, 45%);

// Typography
$font-family-sans-serif: $font-regular;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
