// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800|Titillium+Web:300,400,600&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

$grid-gutter-width: 30px !default;

// number of cards per line for each breakpoint
$cards-per-line: (
    xs: 1,
    sm: 1,
    md: 2,
    lg: 3,
    xl: 4
);

@each $name, $breakpoint in $grid-breakpoints {
    @media (min-width: $breakpoint) {
        .card-deck .card {
            flex: 0 0 calc(#{100/map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
        }
    }
}

.textcheck {
    background-color: white !important;
}

.skilltree {
    /* http://www.patternify.com/ */
    background:url(
        data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAHElEQVQoU2P88OHDfwYCgBGkSEBAgBGfulFFDABtzCPZKslCrgAAAABJRU5ErkJggg==
        ) repeat;
}

.navbar-brand {
    font-weight: 600;
}

.dashbar {
    right: 0.2rem;
    top: 3.8rem;
}
.dashbaricon {
    color: darken($blue, 15%);
    background-color: transparent;
    border: 0;
}
.dashbaricon:focus {
    box-shadow: none;
}


#dropzone {

}

h5 {
    font-weight: 600;
}

.line {
    position:absolute;
    border: 1px $light dashed;
    z-index: -1;
}

.btn-less {
    border: 0;
    background-color: transparent;
}
